*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header  */

header{
    width: 100%;
    background-color: black;
    text-align: center;  
}

nav{
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;  */
    /* justify-content: space-between; */
    margin-bottom:0.3% ;
    padding: 1% 0 1% 0; 
    overflow: hidden;
}

header>nav>a{
    float: left;
    display: block;
    color: white;
    font-size: 0.7em;  
    text-decoration: none;
    padding: 0.5%;
}


header>nav>.menu {
    overflow: hidden;
}

header>nav>.menu> .icon {
    display: block;
    float: right;
  }

header>nav>.menu>a{
    /* float: right;
    display: block; */
    margin: 0 0 0 1%;
    color: white;
    font-size: 0.7em;  
    text-decoration: none;
    padding: 0.5%;
}


/* genral image width  */
  img{
      width: 100%;
  }
  
/* projects  */

.row {
    display: flex;
    flex-wrap: wrap;
  }

  .projects h2{
      margin: 0;
      border-bottom:solid rgb(143, 143, 143) 1px ;
      padding: 1% 0 1% 0;
      font-size:1.9em;
  }
  .project{
    margin: 1%;
  }
  .project p{
    font-size: 1.5em;
  }
  .project h4{
    font-size: 1.5em;
    font-weight: bold;
  }
  button{
    width: 100%;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: rgb(185, 185, 185);
  }

  /* footer  */
  footer{
      width: 100%;
      background-color: black;
      text-align: center;
      color: white;
      font-size: 0.6em;
      padding: 0.9%;
      margin-top:1%;
  }
  footer>a{
      color:white;
  }

 
/* grid view */ 

/* Mobile First */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header>nav>.menu>a {
    display: none;
}

header>nav>a>.icon {
  float: right;
  display: block;
}
 

/* Desktop */
@media screen and (min-width: 901px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  header>nav>.menu> .icon {
    display: none;
  }

header>nav>.menu>a{
    float: right;
    display: block;
}











